.header .center-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    padding: 22px 0;
    .logo {
        width: 50px;
    }
    img {
        width: 100%;
        display: block;
    }
}
.header .nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
        line-height: 0;
        text-transform: uppercase;
        display: flex;
    }
    li {
        font: 14px/17px 'Lato', Arial, Helvetica, sans-serif;
        &.active a {
            color: #fff;
            background-color: $primary-color;
        }
    }
    a {
        display: block;
        padding: 8px 18px;
        color: #868686;
    }
}
.header .nav li:hover a {
    background-color: $primary-color;
    color: #fff;
}